*{
    box-sizing: border-box;
    border: 1px solid white;
}

body{
    font-family: $fontfamilyAll;
    background-color: $colorsnow;
    line-height: 1.4;
    min-height: 100vh;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}