*{
    box-sizing: border-box;
    border: 1px solid white;
}

body{
    $fontfamilyAll: sans-serif;
    font-size: $fontsizeTextContent;
    background-color: $colorwhite;
    line-height: 1.4;
    color: $colorblack;
    min-height: 100vh;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}