.content-subtitle{
        font-family: $fontfamilysubtitle;
        font-size: $fontsizeSL;
        margin: 25px 0px 0px 0px;
        line-height: $lineheightS;
}

.content-text{
        font-family: $fontfamilyAll;
        width: 180px;
        margin: 0px 70px 20px 70px;
        line-height: $lineheightS;
}