ul{
    padding: 0px;
    list-style: none; 

    a{
        text-decoration: none;
    }
}

.main-footer_nav{
        text-align: center;
        line-height: 1.88;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media all and (min-width:768px){
            text-align: left;
        }
   

    a{
        color: $colorsnow;
        text-transform: uppercase;
        font-family: $fontfamilyAll;
        font-size: 15px;
        line-height: 1.88;
    }
}



.main-footer_nav1{
        margin-top: 30px;

    @media all and (min-width:768px){
        text-align: left;
    }

}

.main-footer_nav2{
    @media all and (min-width:768px){
        text-align: left;
    }
}

.main-footer_div3{
    @media all and (min-width:768px){
        text-align: left;
    }
}

.main-footer_div3{
        text-align: center;
        color: $colorsnow;

    @media all and (min-width:768px){
        order: -1;
    }   
}