<footer class="main-footer">
    <button class="main-footer_arrow">
        <img src="assets/images/ico-arrow.svg">
    </button>
    <div class="main-footer_nav">
        <nav class="main-footer_nav1">
            <ul>
                <li>
                    <a class href="#">
                        Articles
                    </a>
                </li>
                <li>
                    <a href="#">
                        Books
                    </a>
                </li>
                <li>
                    <a href="#">
                        Events
                    </a>
                </li>
                <li>
                    <a href="#">
                        Reasons
                    </a>
                </li>
                <li>
                    <a href="#">
                        Tips</a></li>
            </ul>
        </nav>
    </div>

    <div class="main-footer_nav nav2">
        <nav class="main-footer_nav2">
            <ul>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Mastodon.Social</a></li>
            </ul>
        </nav>
    </div>

    <div class="main-footer_div3">
        <p>
            ©2017
        </p>
        <p>
            we ❤︎ components
        </p>
    </div>
</footer>