<footer class="main-footer">
    <div class="main-footer_buttonUp">
        <img src="assets/images/ico-arrow.svg">
    </div>
    <div class="main-footer_div1">
        <nav>
            <ul>
                <li><a href="#">Articles</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Reasons</a></li>
                <li><a href="#">Tips</a></li>
            </ul>
        </nav>
    </div>

    <div class="main-footer_div2">
            <nav>
                <ul>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Mastodon.Social</a></li>
                </ul>
            </nav>
     </div>
    
    <div class="main-footer_div3">
        <p>
            ©2017  
        </p>
        <p>
            we ❤︎ components
        </p>
    </div>
</footer>