<header id="home" class="main-header">

    <button class="main-header_menubutton">
        <img src="assets/images/ico-menu.svg" alt="">
    </button>

    <div class="main-header_title">
        <h1 class="header-title_one"> Anonymous proxy
        </h1>

        <p class="header-title_two">In hac habitasse platea dictumust.
        </p>

    </div>

    <button class="header-button_arrow">
        <a href="#main">
            <img class="button_img" src="assets/images/ico-scroll-down.svg" alt="">
        </a>
    </button>

</header>