<section class="section-main_secondarySection">
    <div class="secondarySection-tittle">
        <h2>
            3 Reasons to Purchase
        </h2>
    </div>
    <div class="secondarySection-content">
        <div class="grid">
            <div class="secondarySection-content_block1">
                <h3 class="content-subtitle">
                    Ut sed metus
                </h3>
                <p class="content-text">
                    Lorem ipsum dolor sit amet, consecteur.
                </p>
            </div>
            <div class="secondarySection-content_block2">
                <h3 class="content-subtitle">
                    Curabitur ac erat
                </h3>
                <p class="content-text">
                    Mauris mattis urna quis lorem molestie.
                </p>
            </div>
            <div class="secondarySection-content_block3">
                <h3 class="content-subtitle" content-ssubtitle>
                    Morbi dictum
                </h3>
                <p class="content-text">
                    Aliquam in dolor et dolor tincidunt.
                </p>
            </div>
        </div>
        <button class="secondarySection-button">
        <p class="secondarySection-button_text">
            More reasons
        </p>
        </button>
    </div>
</section>