<section class="section-main_secondarySection">

    <div class="secondarySection-tittle">

        <h2>
            3 Reasons to Purchase
        </h2>

    </div>

    <div class="secondarySection-content">

        <div class="secondarySection-content_block1">

            <h3>
                Ut sed metus
            </h3>

            <p>
                Lorem ipsum dolor sit amet, consecteur.
            </p>

        </div>
    
        <div class="secondarySection-content_block2">

            <h3>
                Curabitur ac erat
            </h3>
    
             <p>
                Mauris mattis urna quis lorem molestie.
            </p>

        </div>

        <div class="secondarySection-content_block3">

            <h3>
                Morbi dictum
            </h3>
    
            <p>
                Aliquam in dolor et dolor tincidunt.
            </p>
    
        </div>
        
    </div> 


    <div class="secondarySection-button">
        <p>
            More reasons
        </p>
    </div>

</section>