<section id="main" class="section-main_primarySection">
    <div class="primarySection-text">

        <p class="primarySection-text_insomnia">
            Insomnia tips
        </p>

        <h2 class="primarySection-text_subtitle">
            Looking trough a window
        </h2>

        <p class="primarySection-text_content">
            Donec accumusan, nulla ut volutpat porttitor, quam odio tempus felis at luctus ex diam nec lectus. Vivamus
            semper sodales rutrum.
        </p>

    </div>

    <button class="primarySection-button">
        <a href="">
            Go
        </a>
    </button>

</section>