.header-button_arrow{

    background-color: $colorsnow;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-bottom: 53px;

    img{
        display: block;
        margin: auto;
        margin-top: 10px;
        width: 20px;
        height: 20px;
        }
}