.main-header_title{
    text-align: center;
    color: $colorsnow;
    margin: 0px 15px 0px 15px;
    width: 290px;


    .header-title_one{
        font-family: $fontfamilysubtitle;
        text-transform: uppercase;
        font-size: $fontsizeXL;
        line-height: 55px;
        margin-bottom: 0px;
        letter-spacing: 1px;
        
    }

    .header-title_two{
        font-family: $fontfamilyAll;
        font-size: $fontsizeS;
        margin-top: 10px;
        margin-bottom: 45px;
        letter-spacing: -0.5px;

          
    }

}