.main-header_title{
    text-align: center;
    color: $colorsnow;
    margin-right: 15px;
    margin-left: 15px;
    width: 290px;


    .header-title_one{
        font-family: $fontfamilysubtitle;
        text-transform: uppercase;
        font-size: $fontsizeXL;
        line-height: 55px;
        margin: 0px 15px 0px;
    }

    .header-title_two{
        font-family: $fontfamilyAll;
        font-size: $fontsizeS;
        margin-top: 10px;
        margin-bottom: 45px;   
    }

}