.main-header{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        background-image: url(../images/cover.jpg);
        display:flex;
        flex-direction: column;
        justify-content: flex-end;;
        align-items: center;
        position: relative;

        @media all and (min-width:768px){
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 768px;
        }

}

@import 'components/button-header_menu';
@import 'components/header-title';
@import 'components/button-header_arrow';
