.section-main_primarySection{
    margin-left: 15px;
}

.text_insomnia{
    
    color:$colorinsomnia;
    font-size: 14px;
    font-family:$fontfamilyAll;
    line-height: 2.14;
    margin-top: 30px;
    
}

.texto_looking{
    font-size: 24px;
    line-height: 30px;
    color: $colordarthv;
    font-family: $fontfamilysubtitle;

}