.section-main_secondarySection{
     text-align: center;
     background-color:  $colorBgcGrid;

    }

.secondarySection-tittle{
        font-family: $fontfamilysubtitle;
        margin-top: 10px;

        @media all and (min-width:768px){
            margin: 0px;
        }

}

.content-text{
        @media all and (min-width:768px){
            margin: 0px 20px 0px 20px;
        } 
}

.grid{
        @media all and (min-width:768px){
            margin: 10px 50px 60px 50px;
            text-align: center;
            display:grid;
            grid-template-columns: 210px 210px 210px;
        }

        @media all and (min-width:1200px){
            margin: 45px 500px 60px 550px;    
        }
}

@import 'pages/mainS2-text';

@import 'components/button-main_mrs';