.section-main_secondarySection{
     text-align: center;
     background-color:  $colorBgcGrid;

    }

.secondarySection-tittle{
        font-family: $fontfamilysubtitle;
        margin-top: 10px;
        padding-top: 20px;

        @media all and (min-width:768px){
            margin: 0px;
            padding-top: 30px;
        }

        @media all and (min-width:1200px){
            margin: 0px;
            padding-top: 60px;
        }
        
}

.content-text{
        @media all and (min-width:768px){
            margin: 0px 20px 0px 20px;
        } 
        @media all and (min-width:1200px){
            margin: auto;
        }   
}

.grid{
        @media all and (min-width:768px){
            margin: 10px 50px 60px 80px;
            text-align: center;
            display:grid;
            grid-template-columns: 210px 210px 210px;
            grid-template-rows: 110px;
            justify-self: center;
            width:630px;
        }

        @media all and (min-width:1200px){
            width: 1065px;
            grid-template-columns: 355px 355px 355px;
            margin:10px 60px 60px 200px;
        }
}

@import 'pages/mainS2-text';

@import 'components/button-main_mrs';