$colordarthv: black;
$colorsnow:  white;
$fontsizeTextContent: 18px;
$fontsizeXS: 14px;
$fontsizeL: 24px;
$fontsizeS: 16px;
$fontsizeSL: 18px;
$fontsizeXL: 40px;
$fontfamilyAll: 'Roboto', sans-serif;
$fontfamilysubtitle: 'Roboto Slab', serif;
$colorbgcImg: #0271bc;
$colorinsomnia:  #8ccbea;
$colorTextContent: #4a4a4a;
$colorButtonOk:#f26002;
$colorBgcGrid:#eff9ff;
$colorBgcFooter: #304268;
$lineheightAll: 2.14;
$lineheightS: 1.67;
$fontweightThick: bold;
$letterspacingAll: 1px;





